<div class="d-flex rounded-3 bg-white">
  <!--Images-->
  <div class="d-flex flex-column images p-3">
    <img
      class="w-100 h-75 rounded-3 pb-2"
      src="/booking/booking-element/images/temp.jpg"
    />
    <div class="d-flex w-100 h-25 rounded-3 gap-3">
      <img
        class="rounded-3 flex-fill object-fit-cover preview-image"
        src="/booking/booking-element/images/temp.jpg"
      />
      <img
        class="rounded-3 flex-fill object-fit-cover preview-image"
        src="/booking/booking-element/images/temp.jpg"
      />
      <img
        class="rounded-3 flex-fill object-fit-cover preview-image"
        src="/booking/booking-element/images/temp.jpg"
      />
      <img
        class="rounded-3 flex-fill object-fit-cover preview-image"
        src="/booking/booking-element/images/temp.jpg"
      />
    </div>
  </div>
  <!--Block that holds description-->
  <div class="d-flex flex-column p-3">
    <!--Description and button-->
    <div class="d-flex pt-2 mb-2">
      <div class="w-75">
        <h2>Lorem Ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          voluptatum eos nostrum itaque impedit animi alias modi quam iste
          provident, nobis corporis aspernatur, ipsum neque et, in nam quisquam
          accusamus.
        </p>
      </div>
      <div class="d-flex flex-row-reverse w-25">
        <a
          class="btn btn-primary button d-flex align-items-center justify-content-center"
          >Book now</a
        >
      </div>
    </div>
    <!--Amenties and stuff-->
    <div class="d-flex mb-2">
      <div class="w-50">
        <h5>Amenities</h5>
        <div class="d-flex gap-2">
          <div
            class="icon rounded-3 d-flex justify-content-center align-items-center"
          >
            <img src="booking/booking-element/icons/AC.svg" />
          </div>
          <div
            class="icon rounded-3 d-flex justify-content-center align-items-center"
          >
            <img src="booking/booking-element/icons/Coffee.svg" />
          </div>
          <div
            class="icon rounded-3 d-flex justify-content-center align-items-center"
          >
            <img src="booking/booking-element/icons/Wifi.svg" />
          </div>
        </div>
      </div>
      <div class="w-50">
        <h5>Lorem Ipsum</h5>
        <div class="d-flex">
          <div>lorem ipsum</div>
          <div>lorem ipsum</div>
        </div>
      </div>
    </div>
    <!--Availability-->
    <div class="d-flex flex-column mb-4">
      <h5>Lorem Ipsum</h5>
      <div>Lorem ipsum</div>
      <div>Lorem ipsum</div>
      <div>Lorem ipsum</div>
      <div>Lorem ipsum</div>
    </div>
    <!--Booked info-->
    <div class="d-flex flex-column mb-2">
      <div>Lorem ipsum</div>
      <div>Lorem ipsum</div>
      <div>Lorem ipsum</div>
    </div>
  </div>
</div>
