<form class="d-flex inter-4 w-100 gap-4">
  <div class="d-flex flex-column bg-white rounded-4 w-60 p-4 px-5 gap-4">
    <h2 class="inter-7">Reservation details</h2>
    <div class="d-flex flex-column gap-1 mb-3">
      <label class="inter-5">Name</label>
      <input class="rounded-2 input" />
    </div>
    <div class="d-flex flex-column gap-1 mb-3">
      <label class="inter-5">Email</label>
      <input class="rounded-2 input" />
    </div>
    <div class="d-flex flex-column gap-1 mb-3">
      <label class="inter-5">Workspace Type</label>
      <select class="rounded-2 input">
        <option value="id">Option</option>
        <option value="id2">Option</option>
        <option value="id3">Option</option>
        <option value="id4">Option</option>
      </select>
    </div>
    <fieldset class="d-flex justify-content-start flex-column gap-3">
      <label class="inter-5 mb-3">What room size do you need?</label>
      <div class="d-flex gap-2">
        <input class="radio" id="temp1" name="size" type="radio" checked />
        <label for="temp1">Hello</label>
      </div>
      <div class="d-flex gap-2">
        <input class="radio" id="temp2" name="size" type="radio" />
        <label for="temp2">Hello</label>
      </div>
      <div class="d-flex gap-2">
        <input class="radio" id="temp3" name="size" type="radio" />
        <label for="temp3">Hello</label>
      </div>
    </fieldset>
  </div>
  <div class="d-flex flex-column bg-white rounded-4 w-40 p-4 px-5 gap-4">
    <h2 class="inter-7">Choose date and time</h2>
    <div class="d-flex flex-column gap-1 mb-3">
      <h4 class="inter-7 fw-bold">Start date</h4>
      <div
        [formGroup]="startDateForm"
        class="d-flex flex-row justify-content-between gap-3"
      >
        <select
          formControlName="day"
          (change)="onDayChange()"
          class="rounded-3 input w-33"
        >
          <option *ngFor="let day of startDates.availableDays" [ngValue]="day">
            {{ day }}
          </option>
        </select>
        <select
          formControlName="month"
          (change)="onMonthChange()"
          class="rounded-3 input w-33"
          name="month"
        >
          <option
            *ngFor="let month of startDates.availableMonths"
            [ngValue]="month"
          >
            {{ getMonthName(month) }}
          </option>
        </select>
        <select
          formControlName="year"
          (change)="onYearChange()"
          class="rounded-3 input w-33"
        >
          <option
            *ngFor="let year of startDates.availableYears"
            [ngValue]="year"
          >
            {{ year }}
          </option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-column gap-1 mb-3">
      <h4 class="inter-7 fw-bold">End date</h4>
      <div
        [formGroup]="endDateForm"
        class="d-flex flex-row justify-content-between gap-3"
        (change)="onEndDayChange()"
      >
        <select formControlName="day" class="rounded-3 input w-33">
          <option *ngFor="let day of endDates.availableDays" [ngValue]="day">
            {{ day }}
          </option>
        </select>
        <select
          formControlName="month"
          class="rounded-3 input w-33"
          (change)="onEndMonthChange()"
        >
          <option
            *ngFor="let month of endDates.availableMonths"
            [ngValue]="month"
          >
            {{ getMonthName(month) }}
          </option>
        </select>
        <select
          formControlName="year"
          class="rounded-3 input w-33"
          (change)="onEndYearChange()"
        >
          <option *ngFor="let year of endDates.availableYears" [ngValue]="year">
            {{ year }}
          </option>
        </select>
      </div>
    </div>
    <div [formGroup]="startTimeForm" class="d-flex flex-column gap-1 mb-3">
      <h4 class="inter-7 fw-bold">Start time</h4>
      <select
        formControlName="time"
        class="rounded-3 input"
        (change)="onTimeChange()"
      >
        <option *ngFor="let time of availabeTime" [ngValue]="time">
          {{ time.formattedTime }}
        </option>
      </select>
    </div>
    <div [formGroup]="endTimeForm" class="d-flex flex-column gap-1 mb-3">
      <h4 class="inter-7 fw-bold">End time</h4>
      <select formControlName="time" class="rounded-3 input">
        <option *ngFor="let time of availableEndTime" [ngValue]="time">
          {{ time.formattedTime }}
        </option>
      </select>
    </div>
  </div>
</form>
