h2 {
  margin: 0;
}

.w-33 {
  width: 33%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.input {
  height: 48px;
  border: 1px solid #c2bcd8;
}

.bkn-button {
  height: 48px;
}

.radio {
  margin-left: 0.5%;
  transform: scale(1.8);
}

@media (min-width: 768px) {
  .w-md-60 {
    width: 60% !important;
  }

  .w-md-40 {
    width: 40% !important;
  }
}
