<h1 class="inter-7">Book your workspace</h1>
<form
  [formGroup]="bookingForm"
  class="d-flex align-items-start inter-4 w-100 gap-4"
  (ngSubmit)="onSubmit()"
>
  <div class="d-flex flex-column bg-white rounded-4 w-60 p-4 px-5 gap-4">
    <h2 class="inter-7">Reservation details</h2>
    <div formGroupName="userDataGroup" class="d-flex flex-column gap-4">
      <div class="d-flex flex-column gap-1 mb-3">
        <label class="inter-5">Name</label>
        <input
          formControlName="name"
          (focus)="nameFocus = true"
          (blur)="nameFocus = false"
          class="rounded-2 input"
        />
        <div
          *ngIf="
            userDataGroup.get('name')?.invalid &&
            userDataGroup.get('name')?.touched &&
            !nameFocus
          "
          class="inter-4"
        >
          Name field is required.
        </div>
      </div>
      <div class="d-flex flex-column gap-1 mb-3">
        <label class="inter-5">Email</label>
        <input
          formControlName="email"
          (focus)="emailFocus = true"
          (blur)="emailFocus = false"
          class="rounded-2 input"
        />
        <div
          *ngIf="
            userDataGroup.get('email')?.invalid &&
            userDataGroup.get('email')?.touched &&
            !emailFocus
          "
          class="inter-4"
        >
          Please enter valid email.
        </div>
      </div>
    </div>
    <ng-container
      *ngIf="(roomTypes$ | async) || [] as typesData"
      formGroupName="roomInfoGroup"
      class="d-flex flex-column gap-4"
    >
      <div class="d-flex flex-column gap-1 mb-3">
        <label class="inter-5">Workspace Type</label>
        <select
          formControlName="roomInfo"
          class="rounded-2 input"
          (change)="onRoomTypeChange()"
          [compareWith]="compareRoomTypes"
        >
          <option *ngFor="let roomInfo of typesData" [ngValue]="roomInfo">
            {{ roomInfo.roomType.type }}
          </option>
        </select>
      </div>
      <ng-container formGroupName="roomCapacityGroup" *ngIf="hasRooms">
        <fieldset class="d-flex justify-content-start flex-column gap-3">
          <label class="inter-5 mb-3">What room size do you need?</label>
          <div *ngFor="let capacity of roomCapacities" class="d-flex gap-2">
            <input
              formControlName="roomChosenCapacityId"
              class="radio"
              [id]="capacity.id"
              [value]="capacity.id"
              type="radio"
            />
            <label [for]="capacity.id">Room for {{ capacity.capacity }}</label>
          </div>
        </fieldset>
      </ng-container>
    </ng-container>
  </div>
  <div class="d-flex flex-column bg-white rounded-4 w-40 p-4 px-5 gap-4">
    <h2 class="inter-7">Choose date and time</h2>
    <div class="d-flex flex-column gap-1 mb-3">
      <h4 class="inter-7 fw-bold">Start date</h4>
      <div
        formGroupName="startDateGroup"
        class="d-flex flex-row justify-content-between gap-3"
      >
        <select
          formControlName="day"
          (change)="onDayChange()"
          class="rounded-3 input w-33"
        >
          <option *ngFor="let day of startDates.availableDays" [ngValue]="day">
            {{ day }}
          </option>
        </select>
        <select
          formControlName="month"
          (change)="onMonthChange()"
          class="rounded-3 input w-33"
          name="month"
        >
          <option
            *ngFor="let month of startDates.availableMonths"
            [ngValue]="month"
          >
            {{ getMonthNameByNumber(month) }}
          </option>
        </select>
        <select
          formControlName="year"
          (change)="onYearChange()"
          class="rounded-3 input w-33"
        >
          <option
            *ngFor="let year of startDates.availableYears"
            [ngValue]="year"
          >
            {{ year }}
          </option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-column gap-1 mb-3">
      <h4 class="inter-7 fw-bold">End date</h4>
      <div
        formGroupName="endDateGroup"
        class="d-flex flex-row justify-content-between gap-3"
      >
        <select formControlName="day" class="rounded-3 input w-33">
          <option *ngFor="let day of endDates.availableDays" [ngValue]="day">
            {{ day }}
          </option>
        </select>
        <select
          formControlName="month"
          class="rounded-3 input w-33"
          (change)="onEndMonthChange()"
        >
          <option
            *ngFor="let month of endDates.availableMonths"
            [ngValue]="month"
          >
            {{ getMonthNameByNumber(month) }}
          </option>
        </select>
        <select
          formControlName="year"
          class="rounded-3 input w-33"
          (change)="onEndYearChange()"
        >
          <option *ngFor="let year of endDates.availableYears" [ngValue]="year">
            {{ year }}
          </option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-column gap-1 mb-3">
      <h4 class="inter-7 fw-bold">Start time</h4>
      <select
        formControlName="startTime"
        class="rounded-3 input"
        (change)="onTimeChange()"
      >
        <option
          *ngFor="let timeInterface of availableTime"
          [ngValue]="timeInterface"
        >
          {{ timeInterface.time | date : "h:mm a" }}
        </option>
      </select>
    </div>
    <div class="d-flex flex-column gap-1 mb-3">
      <h4 class="inter-7 fw-bold">End time</h4>
      <select formControlName="endTime" class="rounded-3 input">
        <option
          *ngFor="let timeInterface of availableEndTime"
          [ngValue]="timeInterface"
        >
          {{ timeInterface.time | date : "h:mm a" }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary inter-6 input">Submit</button>
  </div>
</form>
