.navbar {
  position: fixed;
  padding-left: 5%;
  padding-right: 5%;
  height: 88px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
}

a {
  text-decoration: none;
}

.link {
  padding-bottom: 8px;
  border-bottom: 1.5px solid #5c5af3;
}
