<div
  class="d-flex flex-column flex-md-row align-items-center align-items-md-start rounded-4 bg-white inter-4 w-100"
>
  <!--Images-->
  <div class="d-flex flex-column image-container p-1 pt-3 pe-1 p-md-3 pe-lg-3">
    <div class="d-flex w-100 main-image-box">
      <img
        class="rounded-4 image pb-2"
        [src]="
          imagesUrl +
          ((bookingType?.roomType)!.type | formatImg | lowercase) +
          '/' +
          mainImageName +
          imagesFormat
        "
      />
    </div>
    <div class="d-flex preview-images-box rounded-3 gap-2">
      <img
        *ngFor="let item of ['1', '2', '3', '4']"
        [ngClass]="item !== mainImageName ? 'opacity-50' : 'opacity-100'"
        class="rounded-4 image"
        [src]="
          imagesUrl +
          ((bookingType?.roomType)!.type | formatImg | lowercase) +
          '/' +
          item +
          imagesFormat
        "
        (click)="mainImageName = item"
      />
    </div>
  </div>
  <!--Block that holds description-->
  <div class="d-flex flex-column flex-fill p-3">
    <!--Description and button-->
    <div class="d-flex flex-column flex-md-row pt-2 mb-4 mb-md-2">
      <div class="pe-5">
        <h2 class="inter-6">{{ bookingType?.roomType?.type }}</h2>
        <p class="text-muted">
          {{ bookingType?.roomType?.description }}
        </p>
      </div>
      <div class="d-flex flex-md-fill flex-row-reverse">
        <button
          [routerLink]="addBookingRoute"
          class="btn btn-primary bkn-button d-flex align-items-center justify-content-center"
        >
          Book now
        </button>
      </div>
    </div>
    <!--Amenties and stuff-->
    <div class="d-flex flex-column flex-lg-row gap-3 mb-4">
      <div class="w-50">
        <h5 class="inter-6">Amenities</h5>
        <ul class="d-flex gap-3 list-unstyled">
          <li
            *ngFor="let amenity of bookingType?.amenities"
            class="icon rounded-3 d-flex justify-content-center align-items-center"
          >
            <img
              [src]="
                iconsUrl + (amenity.name | formatImg | lowercase) + iconsFormat
              "
            />
          </li>
        </ul>
      </div>
      <div class="w-50">
        <!-- checking if it's open space -->
        <ng-container *ngIf="isSpecificType(bookingType); else room">
          <h5 class="inter-6">Availability</h5>
          <div class="d-flex align-items-center gap-3">
            <div
              class="icon rounded-3 d-flex justify-content-center align-items-center"
            >
              <img [src]="iconsUrl + 'areaicon' + iconsFormat" />
            </div>
            <div class="inter-5 fs-5">
              {{ bookingType?.rooms?.length }} desks
            </div>
          </div>
        </ng-container>
        <!-- or room -->
        <ng-template #room>
          <h5 class="inter-6">Capacity options</h5>
          <div class="d-flex align-items-center gap-3">
            <div
              class="icon rounded-3 d-flex justify-content-center align-items-center"
            >
              <img [src]="iconsUrl + 'roomicon' + iconsFormat" />
            </div>
            <div class="inter-5 fs-5">
              <!-- showing all room capacities -->
              <ng-container
                *ngFor="
                  let roomCapacityInfo of bookingType?.roomCapacities;
                  let isLast = last
                "
              >
                <!-- showing ',' or 'or' if >2 capacities -->
                {{ roomCapacityInfo.capacity
                }}<span
                  *ngIf="!isLast && (bookingType?.roomCapacities)!.length !== 2"
                  >,</span
                >
                <span
                  *ngIf="!isLast && (bookingType?.roomCapacities)!.length === 2"
                >
                  or
                </span>
              </ng-container>
              {{
                (bookingType?.roomCapacities)!.length! > 1 ? "people" : "person"
              }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <!--Availability-->
    <ng-container
      *ngIf="
        bookingType?.roomCapacities && bookingType?.roomCapacities?.length !== 0
      "
    >
      <div class="mb-4">
        <h5 class="inter-6">Availability</h5>
        <ul class="list-unstyled d-flex flex-column gap-1">
          <li *ngFor="let roomCapacityInfo of bookingType?.roomCapacities">
            <span *ngIf="getRoomsByCapacity(roomCapacityInfo.id) as rooms">
              <span class="fw-semibold">
                {{ rooms.length }}
                {{ rooms.length > 1 ? "rooms " : "room " }}
              </span>
              <span class="text-muted">
                {{
                  roomCapacityInfo.capacity > 1
                    ? "for up to " + roomCapacityInfo.capacity + " people"
                    : "for " + roomCapacityInfo.capacity + " person"
                }}
              </span>
            </span>
          </li>
        </ul>
      </div>
    </ng-container>
    <!--If user booked info-->
    <ng-container
      *ngIf="
        bookingType?.bookingInfos && bookingType?.bookingInfos?.length !== 0
      "
    >
      <div class="mb-2">
        <!-- If not open space -->
        <ng-container
          *ngIf="
            bookingType?.roomCapacities &&
              (bookingType?.roomCapacities)!.length !== 0;
            else bookedOpenSpace
          "
        >
          <ul class="list-unstyled d-flex flex-column gap-2">
            <li
              *ngFor="let bookedInfo of bookingType?.bookingInfos"
              class="booked d-flex align-items-center px-3 gap-2"
            >
              <!--Finding capacity of booked room-->
              <ng-container
                *ngFor="let roomCapacityInfo of bookingType?.roomCapacities"
              >
                <ng-container
                  *ngIf="roomCapacityInfo.id === bookedInfo.room.roomCapacityId"
                >
                  <img [src]="iconsUrl + checkmarkImageName + iconsFormat" />
                  <span
                    >This workspace is already booked by you! Room for
                    {{ roomCapacityInfo.capacity }}
                    <span>
                      {{ roomCapacityInfo.capacity > 1 ? "people" : "person" }}
                    </span>
                    <span class="fw-semibold">
                      {{ bookedInfo.booking.startDate | date : "MMMM d, y" }} to
                      {{ bookedInfo.booking.endDate | date : "MMMM d, y" }}
                    </span>
                  </span>
                </ng-container>
              </ng-container>
            </li>
          </ul>
        </ng-container>
        <ng-template #bookedOpenSpace>
          <ul class="list-unstyled d-flex flex-column gap-2">
            <li
              *ngFor="
                let bookedInfo of calculateDesks(bookingType?.bookingInfos)
              "
              class="booked d-flex align-items-center px-3 gap-2"
            >
              <img [src]="iconsUrl + checkmarkImageName + iconsFormat" />
              <span
                >This workspace is already booked by you!
                {{ bookedInfo[1] }} desks for
                <span class="fw-semibold">
                  {{ bookedInfo[0][0] | date : "MMMM d, y" }} to
                  {{ bookedInfo[0][1] | date : "MMMM d, y" }}
                </span></span
              >
            </li>
          </ul>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
